@use 'openlayers';
@import "~bulma/sass/utilities/_all";

$custom-colors: null !default;
$custom-shades: null !default;

$primary: #ff2e33;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$blue-1: #C3F0F4;
$blue-2: #63D8E6;
$blue-3: #00618D;
$blue-4: #3B44AD;

$purple-1: #F6E0F4;
$purple-2: #D162C6;
$purple-3: #AF69AC;
$purple-4: #993694;

$green-1: #BDE4CD;
$green-2: #5BBC82;
$green-3: #558F6C;
$green-4: #1E7742;

$yellow-1: #FFE4A4;
$yellow-2: #FFC742;
$yellow-3: #E0B45C;

$colors: mergeColorMaps(
  (
    // "primary": (
    //   $primary,
    //   $primary-invert,
    //   $primary-light,
    //   $primary-dark
    // ),
    "collection": (
      $blue-1,
      black
    ),
    "mask": (
      $purple-1,
      black
    ),
    "georeference": (
      $green-1,
      black
    ),
    "results": (
      $yellow-1,
      black
    )
  ),
  $custom-colors
);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

:root {
  --blue-1: #C3F0F4;
  --blue-2: #63D8E6;
  --blue-3: #00618D;
  --blue-4: #3B44AD;
  --yellow-1: #FFE4A4;
  --yellow-2: #FFC742;
  --yellow-3: #E0B45C;
  --green-1: #BDE4CD;
  --green-2: #5BBC82;
  --green-3: #558F6C;
  --green-4: #1E7742;
  --red-1: #FFDFDF;
  --red-2: #FF4D56;
  --red-3: #C14456;
  --red-4: #E22D3F;
  --purple-1: #F6E0F4;
  --purple-2: #D162C6;
  --purple-3: #AF69AC;
  --purple-4: #993694;
  --pink-1: #FFD8EF;
  --pink-2: #FF56BA;
  --pink-4: #B73B85;
  --orange-1: #FFE3D0;
  --orange-2: #FF7415;
  --orange-3: #C67844;
  --orange-4: #DB5800;
  --black: #1D1D1D;
  --gray: #DDDDDD;
}

.below-header {
  margin-top: 90px;
}

hr {
  margin: 0.75rem 0;
}

nav a.button {
  width: 150px;

  @include mobile {
    width: auto;
  }
}

nav a.button span:not(.icon) {
  @include mobile {
    display: none;
  }
}

nav a.button span.icon {
  @include mobile {
    margin-right: calc(-0.5em - 1px) !important;
  }
}
