@use 'openlayers';
@import '~bulma/sass/utilities/_all';

$custom-colors: null !default;
$custom-shades: null !default;

$primary: #ff2e33;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);

$blue-1: #c3f0f4;
$blue-2: #63d8e6;
$blue-3: #00618d;
$blue-4: #3b44ad;

$purple-1: #f6e0f4;
$purple-2: #d162c6;
$purple-3: #af69ac;
$purple-4: #993694;

$green-1: #bde4cd;
$green-2: #5bbc82;
$green-3: #558f6c;
$green-4: #1e7742;

$yellow-1: #ffe4a4;
$yellow-2: #ffc742;
$yellow-3: #e0b45c;

$colors: mergeColorMaps(
  (
    // "primary": (
    //   $primary,
    //   $primary-invert,
    //   $primary-light,
    //   $primary-dark
    // ),
    "collection": (
      $blue-1,
      black
    ),
    "mask": (
      $purple-1,
      black
    ),
    "georeference": (
      $green-1,
      black
    ),
    "results": (
      $yellow-1,
      black
    )
  ),
  $custom-colors
);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

:root {
  --blue-1: #c3f0f4;
  --blue-2: #63d8e6;
  --blue-3: #00618d;
  --blue-4: #3b44ad;
  --yellow-1: #ffe4a4;
  --yellow-2: #ffc742;
  --yellow-3: #e0b45c;
  --green-1: #bde4cd;
  --green-2: #5bbc82;
  --green-3: #558f6c;
  --green-4: #1e7742;
  --red-1: #ffdfdf;
  --red-2: #ff4d56;
  --red-3: #c14456;
  --red-4: #e22d3f;
  --purple-1: #f6e0f4;
  --purple-2: #d162c6;
  --purple-3: #af69ac;
  --purple-4: #993694;
  --pink-1: #ffd8ef;
  --pink-2: #ff56ba;
  --pink-4: #b73b85;
  --orange-1: #ffe3d0;
  --orange-2: #ff7415;
  --orange-3: #c67844;
  --orange-4: #db5800;
  --black: #1d1d1d;
  --gray: #dddddd;
}

html {
  overflow: auto;
}

.below-header {
  margin-top: 58px;
}

hr {
  margin: 0.75rem 0;
}

nav a.button {
  width: 150px;

  @include mobile {
    width: auto;
  }
}

nav a.button span:not(.icon) {
  @include mobile {
    display: none;
  }
}

nav a.button span.icon {
  @include mobile {
    margin-right: calc(-0.5em - 1px) !important;
  }
}
